{% extends 'admin/layouts/main.twig' %}

{% block aside %}
    {% if rsp.data.type_id == 1 or rsp.data.product.type_id == 1 %}
        {% include 'admin/layouts/partials/aside.twig' with { 'aside': 'multimedia.portafolio' } %}
    {% endif %}

    {% if rsp.data.type_id == 2 or rsp.data.product.type_id == 2 %}
        {% include 'admin/layouts/partials/aside.twig' with { 'aside': 'multimedia.podcast' } %}
    {% endif %}

{% endblock %}

{% block breadcrumb %}
    {% if rsp.data.type_id == 1 or rsp.data.product.type_id == 1 %}
        {% include 'admin/layouts/partials/breadcrumb.twig' with { 'breadcrumb': 'multimedia.portafolio' } %}
    {% endif %}

    {% if rsp.data.type_id == 2 or rsp.data.product.type_id == 2 %}
        {% include 'admin/layouts/partials/breadcrumb.twig' with { 'breadcrumb': 'multimedia.podcast' } %}
    {% endif %}
    
{% endblock %}

{% block css %}
	<style>
	    .minicolors-swatch{
			top: 8px !important;
			left: 5px !important;
		}
		.image-input-wrapper{
        	background-repeat: no-repeat !important; 
        	background-size: 100% 100% !important;
    	}
		.item-color {
			background-color: transparent;
			height: 20px;
			width: 20px;
			border: 1px solid #EBEDF3;
		}
		.btn.btn-secondary.dropdown-toggle:after {
			margin-top:7px;
		}
	</style>
{% endblock %}

{% block content %}
{% set data = rsp.data %}
{% set notfound = '/assets/image/notfound.png' %}
<div class="container" id="AppPortafolioAdmin">
	<div class="card card-custom">
		<div class="card-header">
			<div class="card-title">
				<h3 class="card-label"><span v-text="panel.title"></span>
				<small>Gestionar</small></h3>
			</div>
		</div>
		<div class="card-body p-0">
			<div class="row justify-content-center py-8 px-8 py-lg-10 px-lg-10">
				<div class="col-xl-12 col-xxl-10">
					{% include 'admin/portafolios/partials/form.twig' %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
<script>
	window.addEventListener('load', window.AppPortafolioAdmin.form(JSON.parse("{{ rsp.data|json_encode|e('js') }}")));
</script>
{% endblock %}