@import 'plugins/bootstrap.min.scss';
@import 'plugins/animate.min.scss';
@import 'plugins/magnific-popup.scss';
@import 'plugins/owl.carousel.min.scss';
@import 'plugins/owl.theme.default.min.scss';
@import 'plugins/responsive.scss';
@import 'plugins/style.scss';
@import 'plugins/vegas.min.scss';