<div class="row justify-content-center">
    <div class="col-xl-9">
        <div class="my-5 step">
            <div class="row">
                <div class="col-xl-12 form-group ">
                    <div class="float-left">
                        <h4 class="card-label">Gestionar</h4>
                    </div>
                    <div class="float-right">
                        <button type="button" class="btn btn-sm btn-light-primary"  data-toggle="modal" data-target="#modalProductImage"> <i class="fas fa-plus"></i> Nuevo</button>
                    </div>
                </div>
                <div class="col-xl-12 form-group ">
                    <div class="table-responsive">
                        <table class="table" with="100%">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th  class="text-center">Imagen</th>
                                    <th class="text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for index, item in data.images %}
                                <tr>
                                    <td>
                                        {{ index + 1 }}
                                    </td>
                                    <td class="text-center">
                                        <img src="{{ item.image }}" height="150">
                                    </td>
                                    <td class="text-center">
                                        <a href="javascript:;" class="btn btn-sm btn-clean btn-icon"  @click="onRemoveProductImage({{ item.id }})" title="Eliminar">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td colspan="3" class="text-center">No hay registros para mostrar</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalProductImage" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">AGREGAR IMÁGENES</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                 <form class="form" id="form_save" @submit="onFormSaveImage">
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3">Sube multiple imágenes</label>
                        <div class="col-lg-9">
                            <div class="dropzone dropzone-default dropzone-primary" id="kt_dropzone_2">
                                <div class="dropzone-msg dz-message needsclick">
                                    <h3 class="dropzone-msg-title">Suelta los archivos aquí o haz clic para subir.</h3>
                                    <span class="dropzone-msg-desc">Sube hasta 10 archivos</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary font-weight-bold" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary font-weight-bold" form="form_save">Guardar</button>
            </div>
        </div>
    </div>
</div>