{% extends "home/comunidadpro/layouts/main.twig" %}

{% block css %}

{% endblock %}

{% block content %}

<section class="pb-5 pt-5"><br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
            {{ _company.preguntas_frecuentes|raw }}
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.gallery-one -->

{% endblock %}

{% block js %}{% endblock %}