@font-face {
	font-family: "Lato Regular";
	src: url("/assets/font/Lato-Regular.ttf");
}

@font-face {
	font-family: "Lato Bold";
	src: url("/assets/font/Lato-Bold.ttf");
}

@font-face {
	font-family: "Lato Black";
	src: url("/assets/font/Lato-Black.ttf");
}

html {
	font-size: 13px;
}

body{
	font-size: 1rem !important;
	--color-one: white;
	--color-two: #02abde;
	--color-three: #02abde;
	--color-for: #2d205f;
	--color-five: #2d205f;
	--color-five-out: #f4f6f9;
	--color-six: #f7f7f7;
	--color-seven: #4d4d53;
	--color-eigth: #c5b46d;
	--color-nine: #4caf50;
	--color-nine-out: #e8f5e9;
	font-family: 'Lato Regular', sans-serif !important;
	font-weight: 400;
	height: 75vh;
}

header {
	background: white;
	position: fixed;
    top: 0;
    z-index: 2;
    font-family: 'Lato Regular', sans-serif !important;
    border-bottom: 0.5rem solid var(--color-for);
}

footer {
	background: var(--color-for);
	color: white;
	padding: 1rem;
}

footer a {
	text-decoration: none;
	color: white;
}

header nav img {
	max-height: 3rem;
}

.active-head a {
	color: var(--color-three) !important;
	font-weight: 600;
}

.m-width {
	max-width: 1500px;
}

.btn-one {
	background: var(--color-two);
	border-radius: 20px;
	color: white !important;
	font-family: 'Lato Regular', sans-serif !important;
}

.btn-one a {
	color: white !important;
	font-family: 'Lato Regular', sans-serif !important;
}

.btn-one:hover {
	background: white;
	border: 1px solid var(--color-two);
	color: var(--color-two) !important;
}

.btn-one:hover a {
	color: var(--color-two) !important;
}

.btn-one-border {
	border: 1px solid var(--color-two);
	color: var(--color-two) !important;
	border-radius: 20px;
}

.btn-one-border a {
	color: var(--color-two) !important;
}

.btn-one-border:hover {
	background: var(--color-two);
	color: white;
}

.btn-one-border:hover a {
	color: white !important;
}



.btn-two {
	background: var(--color-three);
	border-radius: 20px;
	color: white !important;
	font-family: 'Lato Regular', sans-serif !important;
	border: 1px solid var(--color-three);
}

.btn-two a {
	color: white !important;
	font-family: 'Lato Regular', sans-serif !important;
}

.btn-two:hover {
	background: white;
	border: 1px solid var(--color-three);
	color: var(--color-three) !important;
}

.btn-two:hover a {
	color: var(--color-three) !important;
}



.btn-for {
	background: var(--color-eigth);
	border-radius: 20px;
	color: var(--color-for) !important;
	font-family: 'Lato Regular', sans-serif !important;
}

.btn-for a {
	color: white !important;
	font-family: 'Lato Regular', sans-serif !important;
}

.btn-for:hover {
	background: white;
	border: 1px solid var(--color-eigth);

}

.btn-for:hover a {
	color: var(--color-eigth) !important;
}




.btn-five {
	background: var(--color-for);
	border-radius: 20px;
	color: white !important;
	font-family: 'Lato Regular', sans-serif !important;
}

.btn-five a {
	color: var(--color-for) !important;
	font-family: 'Lato Regular', sans-serif !important;
}

.btn-five:hover {
	background: white;
	border: 1px solid var(--color-for);
	color: var(--color-for) !important;
}

.btn-five:hover a {
	color: var(--color-for) !important;
}





.linea-prima p {
	font-family: "Lato Black" !important;
	font-size: 2rem;
	font-weight: 600; 
}

.item-float {
    background: var(--color-five);
    position: fixed;
	left: 0;
	width: 3rem;
	border-radius: 0px 15px 15px 0px;
	top: 20rem;
	z-index: 2;
}

.item-float a {
	text-decoration: none;
	color: white;
	display: block;
	margin: 8px 0px;
}

.linea {
	border-bottom: 1px solid var(--color-for);
	height: 1rem;
}

.bg-white{
    padding-top: 8rem;
}

.w-100{
	width: 100% !important;
}