<div class="apzo-page-wrapper" id="apzo-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-sidebar-wrapper ">
                        <div class="gdlr-core-pbf-sidebar-container gdlr-core-line-height-0 clearfix gdlr-core-js gdlr-core-container">
                            <div class="gdlr-core-pbf-sidebar-content  gdlr-core-column-40 gdlr-core-pbf-sidebar-padding gdlr-core-line-height gdlr-core-column-extend-left" style="padding: 60px 10px 30px 0px;">
                                <div class="gdlr-core-pbf-background-wrap" style="background-color: #f7f7f7 ;"></div>
                                <div class="gdlr-core-pbf-sidebar-content-inner">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-blog-item gdlr-core-item-pdb clearfix  gdlr-core-style-blog-full-with-frame" style="padding-bottom: 40px ;">
                                            <div class="gdlr-core-blog-item-holder gdlr-core-js-2 clearfix" data-layout="fitrows">
                                              
                                                {% for tema in temas %}
                                               
                                                    <div class="gdlr-core-item-list gdlr-core-blog-full  gdlr-core-item-mglr gdlr-core-style-left">
                                                        <div class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                                            <a href="#"><img src="upload/shutterstock_484938493-900x500.jpg" alt="" width="900" height="500" title="shutterstock_484938493" /></a>
                                                        </div>
                                                        <div class="gdlr-core-blog-full-frame gdlr-core-skin-e-background" style="padding: 55px 55px 55px 55px;">
                                                            <div class="gdlr-core-blog-full-head clearfix">
                                                                <div class="gdlr-core-blog-full-head-right">
                                                                    <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 27px ;font-weight: 700 ;letter-spacing: 0px ;"><a href="#" >{{tema.name}}</a></h3>
                                                                    <div class="gdlr-core-blog-info-wrapper gdlr-core-skin-divider"><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><span class="gdlr-core-head" ><i class="icon_clock_alt" ></i></span><a href="#">August 20, 2019</a></span><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-author"><span class="gdlr-core-head" ><i class="icon_documents_alt" ></i></span><a href="#" title="Posts by John Smith" rel="author">John Smith</a></span><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-category"><span class="gdlr-core-head" ><i class="icon_folder-alt" ></i></span><a href="#" rel="tag">Blog</a><span class="gdlr-core-sep">,</span> <a href="#" rel="tag">Photography</a></span><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-comment"><span class="gdlr-core-head" ><i class="icon_comment_alt" ></i></span><a href="#">no comments</a></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="gdlr-core-blog-content">{{tema.description}}
                                                                <div class="clear"></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                {% endfor %}
                                                
                                            </div>
                                            <!--div class="gdlr-core-pagination  gdlr-core-style-round gdlr-core-left-align gdlr-core-item-pdlr"><span aria-current="page" class="page-numbers current">1</span>
                                                <a class="page-numbers" href="#">2</a>
                                                <a class="page-numbers" href="#">3</a>
                                                <a class="page-numbers" href="#">4</a>
                                                <a class="next page-numbers" href="#"></a>
                                            </div-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-section">
                        <div class="gdlr-core-pbf-section-container gdlr-core-container clearfix">
                            <div class="gdlr-core-pbf-column gdlr-core-column-12 gdlr-core-column-first">
                                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js "></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>