    <div class="gdlr-core-pbf-wrapper "  id="gdlr-core-wrapper-1">
        <div class="gdlr-core-pbf-background-wrap">
            <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" id="div_064f_44" data-parallax-speed="0"></div>
        </div>
        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first" id="gdlr-core-column-47453">
                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " id="div_064f_45">
                        <div class="gdlr-core-pbf-background-wrap"></div>
                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                            <div class="gdlr-core-pbf-element">
                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="div_064f_46">
                                    <div class="gdlr-core-title-item-title-wrap ">
                                        <h1 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h1_064f_1">Introducing<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider" ></span></h1></div>
                                </div>
                            </div>
                            <div class="gdlr-core-pbf-element">
                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="div_064f_47">
                                    <div class="gdlr-core-title-item-title-wrap ">
                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_064f_6">APZO Analytica<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider" ></span></h3></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first" id="gdlr-core-column-94711">
                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " id="div_064f_48">
                        <div class="gdlr-core-pbf-background-wrap"></div>
                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js " id="div_064f_49">
                            <div class="gdlr-core-pbf-element">
                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align gdlr-core-no-p-space" id="div_064f_50">
                                    <div class="gdlr-core-text-box-item-content" id="div_064f_51">
                                        <p>Human resources software can streamline the people-aspects of your business from recruiting to employee self service, including timekeeping, payroll processing and benefits enrollment.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="gdlr-core-pbf-element">
                                <div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align"><a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-button-no-border" href="#" id="a_064f_6"><span class="gdlr-core-content" >Learn  More</span></a><a class="gdlr-core-lightgallery gdlr-core-js gdlr-core-button  gdlr-core-button-transparent gdlr-core-button-with-border" href="https://www.youtube.com/watch?v=N0haJbDM8ac" id="a_064f_7"><span class="gdlr-core-content" >Watch Video</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first" id="gdlr-core-column-94735" >
                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " id="div_064f_52">
                        <div class="gdlr-core-pbf-background-wrap"></div>
                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                            <div class="gdlr-core-pbf-element">
                                <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr">
                                    <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-rectangle" id="div_064f_53"><img src="upload/img-icon.png" alt="" width="1051" height="637" title="img-icon" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>