<div class="gdlr-core-pbf-wrapper " id="div_064f_130">
    <div class="gdlr-core-pbf-background-wrap" id="div_064f_131"></div>
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
            <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first" id="gdlr-core-column-42897">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " id="div_064f_132">
                    <div class="gdlr-core-pbf-background-wrap"></div>
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="div_064f_133">
                                <div class="gdlr-core-title-item-title-wrap ">
                                    <h1 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h1_064f_7">Pricing<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider" ></span></h1></div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align">
                                <div class="gdlr-core-divider-container" id="div_064f_134">
                                    <div class="gdlr-core-divider-line gdlr-core-skin-divider" id="div_064f_135"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-price-table-item gdlr-core-item-pdlr gdlr-core-item-pdb clearfix  gdlr-core-style-2" id="gdlr-core-price-table-67170">
                                <div class="gdlr-core-price-table-column gdlr-core-column-20">
                                    <div class="gdlr-core-price-table ">
                                        <div class="gdlr-core-price-table-head">
                                            <h3 class="gdlr-core-price-table-title">Starter</h3></div>
                                        <div class="gdlr-core-price-table-price gdlr-core-title-font"><span class="gdlr-core-price-table-price-number">Free</span></div>
                                        <div class="gdlr-core-price-table-content-wrap gdlr-core-center-align">
                                            <div class="gdlr-core-price-table-content">
                                                <div class="gdlr-core-price-list-shortcode ">
                                                    <ul>
                                                        <li><i class="icon_check_alt2" id="i_064f_7"></i>Free 14 day trial</li>
                                                        <li><i class="icon_check_alt2" id="i_064f_8"></i>No credit card required</li>
                                                    </ul>
                                                </div>
                                                <div class="gdlr-core-price-list-shortcode " id="div_064f_136">
                                                    <ul>
                                                        <li><i class="icon_close_alt2" id="i_064f_9"></i>Unlimited products</li>
                                                        <li><i class="icon_close_alt2" id="i_064f_10"></i>Unlimited projects</li>
                                                        <li><i class="icon_close_alt2" id="i_064f_11"></i>Unlimited updates</li>
                                                    </ul>
                                                </div>
                                            </div><a class="gdlr-core-price-table-button gdlr-core-button" href="#" target="_self">Free Download</a></div>
                                    </div>
                                </div>
                                <div class="gdlr-core-price-table-column gdlr-core-column-20">
                                    <div class="gdlr-core-price-table gdlr-core-active">
                                        <div class="gdlr-core-price-table-head">
                                            <h3 class="gdlr-core-price-table-title">Personal</h3></div>
                                        <div class="gdlr-core-price-table-price gdlr-core-title-font"><span class="gdlr-core-price-prefix">$</span><span class="gdlr-core-price-table-price-number">29</span><span class="gdlr-core-price-suffix">/ MO</span></div>
                                        <div class="gdlr-core-price-table-content-wrap gdlr-core-center-align">
                                            <div class="gdlr-core-price-table-content">
                                                <div class="gdlr-core-price-list-shortcode ">
                                                    <ul>
                                                        <li><i class="icon_check_alt2" id="i_064f_12"></i>Save 20% over monthly billing</li>
                                                        <li><i class="icon_check_alt2" id="i_064f_13"></i>No credit card required</li>
                                                        <li><i class="icon_check_alt2" id="i_064f_14"></i>Unlimited products</li>
                                                        <li><i class="icon_check_alt2" id="i_064f_15"></i>Unlimited projects</li>
                                                        <li><i class="icon_check_alt2" id="i_064f_16"></i>Unlimited updates</li>
                                                    </ul>
                                                </div>
                                            </div><a class="gdlr-core-price-table-button gdlr-core-button" href="#" target="_self">Purchase</a></div>
                                    </div>
                                </div>
                                <div class="gdlr-core-price-table-column gdlr-core-column-20">
                                    <div class="gdlr-core-price-table ">
                                        <div class="gdlr-core-price-table-head">
                                            <h3 class="gdlr-core-price-table-title">Agency</h3></div>
                                        <div class="gdlr-core-price-table-price gdlr-core-title-font"><span class="gdlr-core-price-prefix">$</span><span class="gdlr-core-price-table-price-number">79</span><span class="gdlr-core-price-suffix">/ MO</span></div>
                                        <div class="gdlr-core-price-table-content-wrap gdlr-core-center-align">
                                            <div class="gdlr-core-price-table-content">
                                                <div class="gdlr-core-price-list-shortcode ">
                                                    <ul>
                                                        <li><i class="icon_check_alt2" id="i_064f_17"></i>Private team store</li>
                                                        <li><i class="icon_check_alt2" id="i_064f_18"></i>Custom security options</li>
                                                        <li><i class="icon_check_alt2" id="i_064f_19"></i>Free support & training</li>
                                                        <li><i class="icon_check_alt2" id="i_064f_20"></i>Unlimited projects</li>
                                                        <li><i class="icon_check_alt2" id="i_064f_21"></i>Unlimited updates</li>
                                                    </ul>
                                                </div>
                                            </div><a class="gdlr-core-price-table-button gdlr-core-button" href="#" target="_self">Purchase</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>