body{
	font-size: 1rem !important;
	font-family: 'Raleway', sans-serif !important;
	font-weight: 400;
    background-color: #fff;
    position: relative;
    margin: 0;
    min-height: 100%;
    background-color: var(--main-color-one);
}

main {
    padding-top: 100px;
    background-color: #fff;
    min-height: 78vh;
}

footer {
    right: 0;
    left: 0;
    height: 180px;
    background-color: var(--main-color-one);
    color: #fff;
    bottom: 0;
 }

.navbar-nav .nav-item .nav-link{
    color: #fff;
}

.navbar-nav .nav-item .nav-link .dropdown-item{
    color: #000;
}
.navbar-nav .nav-item .dropdown-menu .nav-link{
    color: #000;
}


.d-mobile {
    display: none;
}

.title{
    font-weight: 600;
}



.btn-system-primary {
    color: #fff;
	background-color: var(--main-color-two);
    border-color: #fff;
	border-radius: 1rem;
	box-shadow: none;
}

.btn-system-outline-primary {
    color: var(--main-color-two);
    background-color: #fff;
    border-color: var(--main-color-two);
	border-radius: 1rem;
	box-shadow: none;
}

.btn-system-primary:active, 
.btn-system-primary:focus, 
.btn-system-primary:hover {
    color: var(--main-color-two);
    background-color: #fff;
    border-color: var(--main-color-two);
	box-shadow: none;
}

.btn-system-outline-primary:active, 
.btn-system-outline-primary:focus, 
.btn-system-outline-primary:hover {
    color: #fff;
    background-color: var(--main-color-two);
    border-color: #fff;
	box-shadow: none;
}

.bg-system-primary {
    background-color: var(--main-color-one);
}

.navbar-system {
    .navbar-brand img{
        max-height: 40px;
    }
}

.system-information {
    height: 320px;
    .information-image {
        img {
            width: 100%;
            height: 320px;
        }
    }
    .title {
        font-weight: 600;
    }
    p {
        text-align: justify;
    }
}

.system-title-1 {
        min-height: 6rem;
        text-align: center;
    h4 {
        font-weight: 600;
    }
     .line {
        width: 5rem;
        height: 5px;
        display: inline-block;
        background: var(--main-color-two);
    }
}

.system-card-1 {
    .card-body {
        display: flex;
        width: 100%;
        padding: 0.5rem;
        .card-information{
            width: 65%;
            padding: 0 0.5rem;
            font-size: 0.9rem;
            max-height: 110px;
            overflow: auto;
            .card-title {
                font-weight: 700;
                line-height: 1rem;
                margin-bottom: 0.2rem;
                cursor: pointer;
            }
            .card-title:hover{
                text-decoration: underline;
            }
            .card-text {
                line-height: 1.1rem;
                font-weight: 500;
            }
        }
        .card-image{
            width: 35%;
            img {
                height: 110px;
            }
            .card-ribbon {
                position: absolute;
                max-width: 40%;
                background-color: var(--main-color-one);
                color: #fff;
                padding: 2px 5px;
                font-size: 0.7rem;
            }
        }
    }
    .card-footer{
        background-color: #fff;
        padding: 0.5rem;
        font-size: 0.9rem;
        color: #ff9800;
        font-weight: 600;
    }
}

.system-card-2 {
    border: 0;
    .card-image-top {
        z-index: 2;
        margin: auto;
        margin-bottom: -30px;
        img {
            height: 75px;
            border-radius: 0.5rem;
            max-width: 90%;
            background-color: #fff;
            padding: 5px 10px;
            margin: auto;
        }
    }
    .card-body {
        padding: 2rem 1rem 1rem 1rem;
        /*margin-top: -20px;*/
        border-radius: 1rem;
        border: 2px solid var(--main-color-one);
        height: 220px;
        position: relative;
        .vertical-center {
            margin: 0;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            left: 0;
            right: 0;
            padding-left: 7px;
            padding-right: 7px;
            p {
                text-align: center;
                font-size: 1rem;
                margin: 0;
            }
        }

    }
}

.system-card-3 {
    border: 0;
    max-height: 250px;
    .card-image-top {
        display: flex;
        img {
            max-width: 130px;
            /*height: 120px;*/
            margin: auto;
        }
    }
    .card-body{
        text-align: center;
    }
}

.system-card-4 {
    float: right;
    .fa-text-secondary{
        color: var(--main-color-two);
        margin-top: 5px;
    }
    .btn-group.dropleft > .btn.dropdown-toggle:after{
        content: "";
        margin: 0px;
        display: none;
    }
    .dropleft .dropdown-toggle::before{
        display: none !important;
    }
    .panel-entities {
        padding: 10px 15px;
        text-align: center;
        width: 100%;
        margin: 0px !important;
    }
    .panel-entities div{
        padding: 15px 10px;
    }
    .panel-entities div img{
        cursor: pointer;
    }
    .btn-apps {
        background-color: #fff;
        padding: 5px 10px;
    }
    .btn-apps:focus, .btn-apps:hover{
        background-color: #fff;
    }
}

.system-card-5 {
    border: 0px;
    margin: auto;
    max-width: 48rem;
    margin-bottom: -80px;
    z-index: 2;
    .card-body {
        width: 100%;
        background: white;
        margin: auto;
        -webkit-box-shadow: 7px -7px 5px -4px rgba(0,0,0,0.2);
        -moz-box-shadow: 7px -7px 5px -4px rgba(0,0,0,0.2);
        box-shadow: 7px -7px 5px -4px rgba(0,0,0,0.2);
        margin-bottom: 0px;
        text-align: center;
        .cont-content {
            padding: 20px 50px;
        }
        
        span {
            color: var(--main--color-two);
        }    
    }    
}

.system-card-6 {
    .title {
        color: var(--main-color-one);
        font-weight: 600;
    }
    ul {
        max-height: 300px;
        overflow: auto;
        li {
            border: 0px;
            border-bottom: 0.15rem solid rgba(0,0,0,.125);
            padding: 5px 0px;
            .item-title {
                color: var(--main-color-two);
                margin-bottom: 0.6rem;
                font-weight: 550;
            }
            .item-description {
                line-height: 1.3rem;
                font-size: 1rem;
            }
        }
    }

}

.system-card-7 {
    .table thead th {
        border: 0;
    }
    .table td, .table th {
        border: 0;
    }
}
.system-container {
    width: 100%;
    max-width: 1500px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    /* Scrollbar Styling */
    ::-webkit-scrollbar {
        width: 5px;
    }
    
    ::-webkit-scrollbar-track {
        background-color: #ebebeb;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: #bdbdbd; 
    }
}

.navbar .system-container{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

