{% extends "home/empresarial/layouts/main.twig" %}


{% block css %}

{% endblock %}

{% block content %}
{% include 'home/empresarial/elements/page_info.twig' with { 'titulo': 'Políticas de privacidad' } %}
<section class="pb-5 pt-5"><br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
            {{ _company.privacy_policies|raw }}
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.gallery-one -->

{% endblock %}

{% block js %}{% endblock %}