
.system-card-5 {
    border: 0px;
    margin: auto;
    
    .card-body {
        width: 100%;
        background: white;
        margin: auto;
        -webkit-box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
        -moz-box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
        box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
        margin-bottom: 0px;
        text-align: center;
        .cont-content {
            padding: 10px 40px;
        }
        
        span {
            color: var(--main--secundario);
        }
    }
}

.system-card-6 {
    border: 0px;
    margin: auto;
    border-bottom: 7px solid var(--main-resaltar);;
    .card-body {
        width: 100%;
        background: white;
        margin: auto;
        -webkit-box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
        -moz-box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
        box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
        margin-bottom: 0px;
        .cont-content {
            padding: 20px 40px;
        }
    }
}

.title-line-left{
    margin-bottom: 15px;
    h2 {
        width: 100%; 
        text-align: left; 
        border-bottom: 1px solid #6c757d; 
        line-height: 0.1em;
        margin: 10px 0 20px; 
     } 
     
     h2 span { 
         background:#fff; 
         padding:0 10px; 
         margin-left: 30px;
     }
}

.title-line-center{
    margin-bottom: 15px;
    h2 {
        width: 100%; 
        text-align: center; 
        border-bottom: 1px solid #6c757d; 
        line-height: 0.1em;
        margin: 10px 0 20px; 
     } 
     
     h2 span { 
         background:#fff; 
         padding:0 10px; 
         margin-left: 30px;
     }
}

.system-card-chapter-item {
    .info-title{
        font-weight: 600;
        font-size: 1.3rem;
        color: #22467a;
        line-height: 20px;
        margin-bottom: 0px;
    }
    .info-caption{
        font-size: 1.2rem;
        color: #000;
        font-weight: 600;
    }
}

.system-card-chapter {
    margin-bottom: 15px;
    .card-image {
        width: 100%;
        max-height: 500px;
    }
    .card-body {
        padding: 15px;
        .card-title {
            font-size: 1.8rem;
            margin-bottom: 25px;
            line-height: 28px;
        }
        .card-description{
            margin-bottom: 15px;
            color: #6c757d;
        }
        .card-caption {
            color: var(--main-resaltar);
        }
        .card-time {
            color: #6c757d;
        }
    }
    .card-footer {
        background-color: #f7f7f9;
        padding: 0px 15px 15px 15px;
        text-align: right;
        .card-leer {
            span {
                margin-top: 9px;
                display: inline-grid;
                color: #6c757d;
            }
            .trapecio{
                float: right;
                width: 90px; 
                height: 24px;
                border-top: 7px solid transparent;
                border-left: 25px solid transparent;
                border-right: 25px solid transparent;
                border-bottom: 36px solid var(--main-resaltar);
                text-align: center;
                i {
                    color:#fff;
                    font-size: 1.5rem;
                    margin: auto;
                    margin-top: 7px;
                }
            }
        }
    }
}

.system-card-blogs {
    margin-bottom: 15px;
    .card-image {
        width: 100%;
        max-height: 500px;
    }
    .card-body {
        background-color: #f7f7f9;
        padding: 15px;
        .card-caption {
            color: #6c757d;
        }
        .card-title {
            font-size: 1.8rem;
            margin-bottom: 15px;
            line-height: 28px;
        }
        .card-description{
            margin-bottom: 20px;
        }
    }
    .card-footer {
        background-color: #f7f7f9;
        padding: 0px 15px 15px 15px;
        text-align: right;
        .card-leer {
            span {
                margin-top: 9px;
                display: inline-grid;
                color: #6c757d;
            }
            .trapecio{
                float: right;
                height: 24px;
                border-top: 7px solid transparent;
                border-left: 25px solid transparent;
                border-right: 25px solid transparent;
                border-bottom: 36px solid var(--main-resaltar);
                text-align: center;
                padding: 0.2rem 1rem;
                i, span {
                    color:#fff;
                    font-size: 1.2rem;
                    margin: auto;
                    margin-top: 7px;
                }
            }
        }
    }
}

.system-card-aliados {
    margin-bottom: 15px;
    .card-item {
        background: white;
        margin: auto;
        -webkit-box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
        -moz-box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
        box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
        margin: 10px 0;
        padding: 20px;
    }
    .card-image {
        width: 100%;
    }
}

.system-bloque-publications {
    background-color: #f7f7f9;
    padding: 25px 25px 0px 25px;
    margin-bottom: 15px;
}

.system-card-publications {
    background-color: #fff;
    margin-bottom: 30px;
    .card-image {
        width: 100%;
        max-height: 300px;
        border-bottom: 5px solid #9e9e9e;
    }
    .card-body {
        padding: 10px 15px 15px 15px;
        .card-caption {
            color: #6c757d;
            margin-bottom: 0px;
        }
        .card-title {
            font-size: 1.2rem;
            margin-bottom: 25px;
            line-height: 20px;
        }
        .card-ver {
            span {
                margin-top: 9px;
                display: inline-grid;
                color: #6c757d;
            }
            .trapecio-invertido{
                float: right;
                width: 75px; 
                height: 24px;
                border-bottom: 7px solid transparent;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-top: 30px solid #9e9e9e;
                text-align: center;
                i {
                    position: absolute;
                    color:#fff;
                    font-size: 1.5rem;
                    margin-top: -27px;
                    margin-left: -9px;
            
                }
            }
        }
    }
}

.system-card-story {
    background-color: #fff;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    height: 150px;
    .card-image {
        width: 100%;
        height: 150px;
    }
    .card-body {
        padding: 0px;
        .card-info{
            padding: 15px 0px;
            width: 100%;
        }
        .card-title {
            font-size: 1.2rem;
            margin-bottom: 25px;
            line-height: 20px;
            overflow: hidden;
            height: 75px;
        }
    }
}

.system-card-chapter-info {
    .info-logo {
        display: flex;
        border-bottom: 5px solid #22467a;
        p {
            margin: 0px;
            font-size: 3.4rem;
            font-weight: 700;
            color: var(--main-resaltar);
            margin-right: 10px;
            line-height: 60px;
            font-family: Roboto;
        }
    }
    i{
        font-size: 2.8rem;
        color: #22467a;
        margin: auto;
        margin-left: 5px;
    }
    .info-title{
        font-weight: 600;
        font-size: 1.3rem;
        color: #22467a;
        line-height: 20px;
        margin-bottom: 0px;
    }
    .info-caption{
        font-size: 1.2rem;
        color: #000;
        font-weight: 600;
    }
}

.player .playarea .play {
    cursor: pointer;
    opacity: 0.85;
    vertical-align: middle;
    margin: 0 26px;
    border: 3px solid #000;
    border-radius: 80px;
    width: 80px;
    height: 80px;
    background: url('/assets/template/comunidadpro/images/mp3/play_icon.svg') 15px 6px no-repeat;
    background-size: 55px 65px;
    display: inline-block;
}

.player .playarea .pause {
    display: none;
    cursor: pointer;
    opacity: 0.85;
    vertical-align: middle;
    margin: 0 26px;
    border: 3px solid #000;
    border-radius: 80px;
    width: 80px;
    height: 80px;
    background: url('/assets/template/comunidadpro/images/mp3/pause_icon.svg') 8px 11px no-repeat;
    /* background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMzRweCIgaGVpZ2h0PSI1MXB4IiB2aWV3Qm94PSIwIDAgMzQgNTEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiPiAgICAgICAgPHRpdGxlPkxpbmU8L3RpdGxlPiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4gICAgPGRlZnM+PC9kZWZzPiAgICA8ZyBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBza2V0Y2g6dHlwZT0iTVNQYWdlIj4gICAgICAgIDxnIGlkPSJQbGF5ZXItdmVyc2lvbi0xIiBza2V0Y2g6dHlwZT0iTVNBcnRib2FyZEdyb3VwIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNDgyLjAwMDAwMCwgLTI5OC4wMDAwMDApIiBzdHJva2U9IiNGRTQzNjUiIHN0cm9rZS1vcGFjaXR5PSIwLjg1IiBmaWxsPSIjRkU0MzY1IiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIiBmaWxsLW9wYWNpdHk9IjAuODUiPiAgICAgICAgICAgIDxwYXRoIGQ9Ik00ODMsMzAxLjI2ODUxOSBMNDgzLDM0NS43MzE0ODEgTDQ4MywzNDggTDQ4OC4wNzI0NjQsMzQ4IEw0ODguMDcyNDY0LDM0NS43MzE0ODEgTDQ4OC4wNzI0NjQsMzAxLjI2ODUxOSBMNDg4LjA3MjQ2NCwyOTkgTDQ4MywyOTkgTDQ4MywzMDEuMjY4NTE5IFogTTUwOS45Mjc1MzYsMzAxLjI2ODUxOSBMNTA5LjkyNzUzNiwzNDUuNzMxNDgxIEw1MDkuOTI3NTM2LDM0OCBMNTE1LDM0OCBMNTE1LDM0NS43MzE0ODEgTDUxNSwzMDEuMjY4NTE5IEw1MTUsMjk5IEw1MDkuOTI3NTM2LDI5OSBMNTA5LjkyNzUzNiwzMDEuMjY4NTE5IFoiIGlkPSJMaW5lIiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIj48L3BhdGg+ICAgICAgICA8L2c+ICAgIDwvZz48L3N2Zz4=) 43px 35px no-repeat; */
    background-size: 60px 50px;
}


.line {
    width: 7rem;
    height: 0.4rem;
    display: inline-block;
    background: var(--main-secundario);
}

.card-line {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #cfd8dc;
    margin: 15px 0;
}

.btn-sys-one{
    background: var(--main-resaltar);
    color: #fff;
    border-radius: 15px;
}

.btn-sys-two{
    background: var(--main-secundario);
    color: #fff;
    border-radius: 15px;
}

.form-control.form-control-solid {
    background-color: #f5f8fa;
    border-color: #f5f8fa;
    color: #5E6278;
    transition: color 0.2s ease;        
}

.mypopup {
    background-color: var(--main-resaltar);
    position: fixed;
    width: 40px;
    right: 0;
    top: 150px;
    border-radius: 20px 0px 0px 20px;
    z-index: 2;
    .p-fa {
        color: white;
        padding: 10px;
        margin-left: 6px;
        margin-top: 3px;
        cursor: pointer;
    }
}


.system-card-footer{
    margin-top: 30px;
    background-color: #eeeeee;
    padding: 30px 15px;
}
/* owl nav */
.owl-prev span, .owl-next span {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center; 
    background: #fff;
    border-radius: 50%;
     opacity: 1;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: -2px 1px 10px #bdbdbd;
    font-size: 2rem;
    cursor: pointer;
}

.owl-prev span:hover, 
.owl-next span:hover {
	color: #8199A3;
}

.owl-prev, .owl-next {
	position: absolute;
	top: 0;
	height: 100%;
}

.owl-prev {
	left: -6rem;
    background-color: transparent !important;
}

.owl-next {
	right: -6rem;
    background-color: transparent !important;
}

/* removing blue outline from spans */
span:focus, span:active {
   outline: none;
}

@media(max-width: 767px) {
    .owl-prev{
        position: relative;
        left: 0rem;
    } 
    .owl-next{
        position: relative;
        right: 0rem;
    }

    .m_text_a{
        text-align: center;
    }
}