<section class="overlay-parallax no-padding"
        style="background-image: url({{frase[0].imagens[0].patch}});">
        <h3 class="text-center text-white heading-overlay">{{frase[0].content_name|raw }}</h3>
        <div class="overlay-parallax-bg"></div>
    </section><!-- End section -->