
    <!-- Get a quote section -->
    <section class="bg-grey no-padding">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
                <div class="quote-warp">
                  <div class="quote-text">
                    <h2> {{frase[0].content_name|raw }} <a style="margin-top: 25px;" href="/contactanos" class="ot-btn large-btn btn-rounded btn-hightlight-color">Obten una cotización</a></h2>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </section>