<div data-repeater-item="" class="form-group row">
    <input type="hidden" name="id" value="{{ item.id }}"/>
    <div class="col-lg-8 col-xl-8">
        <input class="form-control form-control-solid form-control-lg jscolor" name="color" type="text" value="{{ item.color }}" autocomplete="off" />
        <div class="d-md-none mb-2"></div>
    </div>
    <div class="col-lg-4 col-xl-4 text-right">
        <a href="javascript:;" data-repeater-delete="" class="btn btn-sm font-weight-bolder btn-light-danger">
            <i class="la la-trash-o"></i>Eliminar
        </a>
    </div>
</div>