/* line 1, public/assets-gulp/scss/admin/componentes/_collapse.scss */
header {
  border-bottom: 8px solid var(--color-for);
}

/* line 5, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.m-width {
  max-width: 1500px;
}

/* line 9, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.btn-one {
  background: var(--color-two);
  border-radius: 20px;
  color: white !important;
  font-family: 'Lato Regular', sans-serif !important;
}

/* line 16, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.btn-one a {
  color: white !important;
  font-family: 'Lato Regular', sans-serif !important;
}

/* line 21, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.btn-one:hover {
  background: white;
  border: 1px solid var(--color-two);
  color: var(--color-two) !important;
}

/* line 27, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.btn-one:hover a {
  color: var(--color-two) !important;
}

/* line 31, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.btn-one-border {
  border: 1px solid var(--color-two);
  color: var(--color-two) !important;
  border-radius: 20px;
}

/* line 37, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.btn-one-border a {
  color: var(--color-two) !important;
}

/* line 41, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.btn-one-border:hover {
  background: var(--color-two);
  color: white;
}

/* line 46, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.btn-one-border:hover a {
  color: white !important;
}

/* line 52, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.btn-two {
  background: var(--color-three);
  border-radius: 20px;
  color: white !important;
  font-family: 'Lato Regular', sans-serif !important;
  font-size: 1rem;
}

/* line 60, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.btn-two a {
  color: white !important;
  font-size: 1rem;
  font-family: 'Lato Regular', sans-serif !important;
}

/* line 66, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.btn-two:hover {
  background: white;
  border: 1px solid var(--color-three);
  color: var(--color-three) !important;
}

/* line 72, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.btn-two:hover a {
  color: var(--color-three) !important;
}

/* line 78, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.slide-one {
  height: 45vh;
  margin-top: 10rem;
}

/* line 83, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.item-float {
  background: var(--color-for);
}

/* line 87, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.item-float a {
  text-decoration: none;
  color: white;
  display: block;
  margin: 8px 0px;
}

/* line 94, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.acordion {
  border: 0px !important;
  border-radius: 0px !important;
  margin: 5px 0px;
  padding: 5px 0px;
}

/* line 101, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.acordion {
  border-left: 10px solid var(--color-two) !important;
}

/* line 105, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.acordion-active button {
  color: var(--color-three) !important;
}

/* line 109, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.acordion-active {
  border-left: 10px solid var(--color-three) !important;
}

/* line 114, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.acordion-header {
  background: white !important;
  border: 0px !important;
  padding: 0rem !important;
}

/* line 120, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.acordion-header button {
  text-decoration: none;
  color: var(--color-for);
  font-family: 'Lato Bold', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}

/* line 128, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.acordion-header button:hover {
  text-decoration: none;
}

/* line 132, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.acordion-body {
  padding: .1rem .75rem !important;
  color: var(--color-text-body);
  text-align: justify;
}

/* line 138, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.shadow {
  box-shadow: 5px 1px 9px rgba(0, 0, 0, 0.05);
}

/* line 143, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.presentacion-body {
  /*overflow: hidden;*/
  max-height: 24rem;
}

/* line 148, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.presentacion-body .item_presentacion {
  opacity: 0;
  display: none;
}

/* line 153, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.presentacion-body .item_presentacion video {
  width: 100%;
}

/* line 157, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.presentacion-body .item_presentacion img {
  width: 100%;
}

/* line 161, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.presentacion-body .active {
  opacity: 1;
  display: block;
  transition: opacity 5s;
}

/* line 167, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.header-content {
  margin: 2rem 0rem 6rem 0rem;
}

/* line 171, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.data-content {
  color: white;
  padding: 5px;
  position: absolute;
  bottom: 1px;
  font-size: 0.8rem;
  background-color: var(--color-six);
  width: 100%;
}

/* line 181, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.header-content p {
  font-family: "Lato Bold";
  font-size: 1.5rem;
  color: var(--color-for);
}

/* line 187, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.logo-banner {
  background-color: var(--color-for);
}

/* line 191, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.logo-banner .item {
  padding: 1rem 0rem;
  background-color: white;
  margin: -2rem 0rem 5rem 0rem;
  box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.2);
}

/* line 198, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.logo-banner .item img {
  width: 10rem;
}

/* line 202, public/assets-gulp/scss/admin/componentes/_collapse.scss */
.logo-banner p {
  color: var(--color-seven);
  font-family: "Lato Bold";
  margin: 10px 0px 25px 0px;
  font-size: 1rem;
}

@media only screen and (max-width: 1520px) {
  /* line 210, public/assets-gulp/scss/admin/componentes/_collapse.scss */
  .slide-one {
    margin-top: 8rem;
  }
}

@media only screen and (max-width: 768px) {
  /* line 217, public/assets-gulp/scss/admin/componentes/_collapse.scss */
  .data-content {
    position: inherit !important;
    width: auto !important;
    margin-top: 0rem;
  }
  /* line 223, public/assets-gulp/scss/admin/componentes/_collapse.scss */
  .slide-one {
    margin-top: 5rem;
  }
  /* line 227, public/assets-gulp/scss/admin/componentes/_collapse.scss */
  .slide-one-text {
    padding: 1rem !important;
  }
  /* line 231, public/assets-gulp/scss/admin/componentes/_collapse.scss */
  .item-float {
    right: 0;
    left: auto;
    border-radius: 15px 0px 0px 15px !important;
  }
}
