/* line 1, public/assets-gulp/scss/admin/componentes/_system.scss */
header {
  border-bottom: 8px solid var(--color-for);
}

/* line 5, public/assets-gulp/scss/admin/componentes/_system.scss */
.banner-one {
  background-image: url("/assets/image/Imagen1.jpg");
  margin-top: 4rem;
}

/* line 10, public/assets-gulp/scss/admin/componentes/_system.scss */
.opacity-one {
  background-color: rgba(0, 0, 0, 0.7);
  height: 55vh;
}

/* line 15, public/assets-gulp/scss/admin/componentes/_system.scss */
.banner-text {
  font-family: "Lato Regular";
  padding: 3rem 0rem;
  color: white;
}

/* line 21, public/assets-gulp/scss/admin/componentes/_system.scss */
.banner-text h3 {
  font-style: italic;
  margin-bottom: 2rem;
}

/* line 26, public/assets-gulp/scss/admin/componentes/_system.scss */
.banner-text a {
  display: inline-block;
  width: 13rem;
  padding: 0.3rem 1rem !important;
}

/* line 32, public/assets-gulp/scss/admin/componentes/_system.scss */
.table-one {
  background-color: white;
}

/* line 36, public/assets-gulp/scss/admin/componentes/_system.scss */
.table-one-data {
  margin-top: -5rem;
  background-color: white;
  padding: 3rem;
  margin-bottom: 3rem;
}

/* line 43, public/assets-gulp/scss/admin/componentes/_system.scss */
.m-width {
  max-width: 1500px;
}

/* line 47, public/assets-gulp/scss/admin/componentes/_system.scss */
.btn-one {
  background: var(--color-two);
  border-radius: 20px;
  color: white !important;
  font-family: 'Lato Regular', sans-serif !important;
}

/* line 54, public/assets-gulp/scss/admin/componentes/_system.scss */
.btn-one a {
  color: white !important;
  font-family: 'Lato Regular', sans-serif !important;
}

/* line 59, public/assets-gulp/scss/admin/componentes/_system.scss */
.btn-one:hover {
  background: white;
  border: 1px solid var(--color-two);
  color: var(--color-two) !important;
}

/* line 65, public/assets-gulp/scss/admin/componentes/_system.scss */
.btn-one:hover a {
  color: var(--color-two) !important;
}

/* line 69, public/assets-gulp/scss/admin/componentes/_system.scss */
.btn-one-border {
  border: 1px solid var(--color-two);
  color: var(--color-two) !important;
  border-radius: 20px;
}

/* line 75, public/assets-gulp/scss/admin/componentes/_system.scss */
.btn-one-border a {
  color: var(--color-two) !important;
}

/* line 79, public/assets-gulp/scss/admin/componentes/_system.scss */
.btn-one-border:hover {
  background: var(--color-two);
  color: white;
}

/* line 84, public/assets-gulp/scss/admin/componentes/_system.scss */
.btn-one-border:hover a {
  color: white !important;
}

/* line 90, public/assets-gulp/scss/admin/componentes/_system.scss */
.btn-two {
  background: var(--color-three);
  border-radius: 20px;
  color: white !important;
  font-family: 'Lato Regular', sans-serif !important;
  border: 1px solid var(--color-three);
}

/* line 98, public/assets-gulp/scss/admin/componentes/_system.scss */
.btn-two a {
  color: white !important;
  font-family: 'Lato Regular', sans-serif !important;
}

/* line 103, public/assets-gulp/scss/admin/componentes/_system.scss */
.btn-two:hover {
  background: white;
  border: 1px solid var(--color-three);
  color: var(--color-three) !important;
}

/* line 109, public/assets-gulp/scss/admin/componentes/_system.scss */
.btn-two:hover a {
  color: var(--color-three) !important;
}

/* line 115, public/assets-gulp/scss/admin/componentes/_system.scss */
.slide-one {
  height: 45vh;
  margin-top: 10rem;
}

/* line 120, public/assets-gulp/scss/admin/componentes/_system.scss */
.item-float {
  background: var(--color-for);
}

/* line 124, public/assets-gulp/scss/admin/componentes/_system.scss */
.item-float a {
  text-decoration: none;
  color: white;
  display: block;
  margin: 8px 0px;
}

/* line 131, public/assets-gulp/scss/admin/componentes/_system.scss */
.acordion {
  border: 0px !important;
  border-radius: 0px !important;
  margin: 10px 0px;
  padding: 5px 0px;
}

/* line 138, public/assets-gulp/scss/admin/componentes/_system.scss */
.acordion {
  border-left: 10px solid var(--color-two) !important;
}

/* line 142, public/assets-gulp/scss/admin/componentes/_system.scss */
.acordion-active button {
  color: var(--color-three) !important;
}

/* line 146, public/assets-gulp/scss/admin/componentes/_system.scss */
.acordion-active {
  border-left: 10px solid var(--color-three) !important;
}

/* line 151, public/assets-gulp/scss/admin/componentes/_system.scss */
.acordion-header {
  background: white !important;
  border: 0px !important;
  padding: 0rem !important;
}

/* line 157, public/assets-gulp/scss/admin/componentes/_system.scss */
.acordion-header button {
  text-decoration: none;
  color: var(--color-for);
  font-family: 'Lato Bold', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

/* line 165, public/assets-gulp/scss/admin/componentes/_system.scss */
.acordion-header button:hover {
  text-decoration: none;
}

/* line 169, public/assets-gulp/scss/admin/componentes/_system.scss */
.acordion-body {
  padding: .375rem .75rem !important;
  color: var(--color-text-body);
  text-align: justify;
}

/* line 175, public/assets-gulp/scss/admin/componentes/_system.scss */
.shadow {
  box-shadow: 5px 1px 9px rgba(0, 0, 0, 0.05);
}

/* line 180, public/assets-gulp/scss/admin/componentes/_system.scss */
.presentacion-body {
  /*overflow: hidden;*/
  max-height: 24rem;
}

/* line 185, public/assets-gulp/scss/admin/componentes/_system.scss */
.presentacion-body .item_presentacion {
  opacity: 0;
  display: none;
}

/* line 190, public/assets-gulp/scss/admin/componentes/_system.scss */
.presentacion-body .item_presentacion video {
  max-height: 24rem;
  width: 100%;
}

/* line 195, public/assets-gulp/scss/admin/componentes/_system.scss */
.presentacion-body .item_presentacion img {
  max-height: 24rem;
  width: 100%;
}

/* line 200, public/assets-gulp/scss/admin/componentes/_system.scss */
.presentacion-body .active {
  opacity: 1;
  display: block;
  transition: opacity 5s;
}

/* line 206, public/assets-gulp/scss/admin/componentes/_system.scss */
.header-content {
  margin: 2rem 0rem 6rem 0rem;
}

/* line 210, public/assets-gulp/scss/admin/componentes/_system.scss */
.data-content {
  color: white;
  padding: 5px;
  position: absolute;
  bottom: 1px;
  font-size: 0.8rem;
  background-color: var(--color-six);
  width: 100%;
}

/* line 220, public/assets-gulp/scss/admin/componentes/_system.scss */
.header-content p {
  font-family: "Lato Bold";
  font-size: 1.5rem;
  color: var(--color-for);
}

/* line 226, public/assets-gulp/scss/admin/componentes/_system.scss */
.logo-banner {
  background-color: var(--color-for);
}

/* line 230, public/assets-gulp/scss/admin/componentes/_system.scss */
.logo-banner .item {
  padding: 1rem 0rem;
  background-color: white;
  margin: -2rem 0rem 5rem 0rem;
  box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.2);
}

/* line 237, public/assets-gulp/scss/admin/componentes/_system.scss */
.logo-banner .item img {
  width: 10rem;
}

/* line 241, public/assets-gulp/scss/admin/componentes/_system.scss */
.logo-banner p {
  color: var(--color-seven);
  font-family: "Lato Bold";
  margin: 10px 0px 25px 0px;
}

/* line 247, public/assets-gulp/scss/admin/componentes/_system.scss */
.cab_table h2 {
  color: var(--color-three);
  font-family: "Lato Bold";
  font-size: 1.8rem;
}

/* line 253, public/assets-gulp/scss/admin/componentes/_system.scss */
.cab_table p {
  font-family: "Lato Regular";
}

/* line 258, public/assets-gulp/scss/admin/componentes/_system.scss */
.descarga-item {
  text-align: center;
  font-size: 1.3rem;
}

/* line 263, public/assets-gulp/scss/admin/componentes/_system.scss */
.descarga-item .item {
  padding: 1rem;
}

/* line 267, public/assets-gulp/scss/admin/componentes/_system.scss */
.descarga-item .item a {
  text-decoration: none;
  color: var(--color-for);
  text-decoration: underline;
}

/* line 273, public/assets-gulp/scss/admin/componentes/_system.scss */
.descarga-item .item p {
  max-width: 50rem;
  display: inline-block;
}

/* line 279, public/assets-gulp/scss/admin/componentes/_system.scss */
.banner-text-two h2 {
  font-family: "Lato Bold";
  font-size: 1.5rem;
  color: white;
  padding-bottom: 1rem;
}

/* line 286, public/assets-gulp/scss/admin/componentes/_system.scss */
.banner-text-two h3 {
  font-family: "Lato Regular";
  font-size: 1.2rem;
  color: white;
  padding-bottom: 1rem;
}

/* line 293, public/assets-gulp/scss/admin/componentes/_system.scss */
.banner-text-two p {
  font-family: "Lato Regular";
  font-size: 1.2rem;
  color: white;
  padding-bottom: 1rem;
  font-style: italic;
  padding-top: 1rem;
}

/* line 302, public/assets-gulp/scss/admin/componentes/_system.scss */
.block {
  display: inline-block;
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
  max-width: 20rem;
}

/* line 311, public/assets-gulp/scss/admin/componentes/_system.scss */
.block p {
  font-family: "Lato Regular";
  color: var(--color-for);
  display: block;
  font-size: 1.2rem;
  margin: 0;
}

/* line 319, public/assets-gulp/scss/admin/componentes/_system.scss */
.block span {
  font-family: "Lato Bold";
}

/* line 323, public/assets-gulp/scss/admin/componentes/_system.scss */
.block img {
  display: block;
  margin: auto;
  width: 12rem;
}

/* line 329, public/assets-gulp/scss/admin/componentes/_system.scss */
.block a {
  background: var(--color-for);
  color: white;
  font-family: "Lato Bold";
  border-radius: 12px;
  font-size: 1.2rem;
}

/* line 337, public/assets-gulp/scss/admin/componentes/_system.scss */
.acordion-two {
  border: none;
}

/* line 341, public/assets-gulp/scss/admin/componentes/_system.scss */
.acordion-two .acordion-header h2 {
  font-family: "Lato Bold";
  color: var(--color-for);
}

/* line 346, public/assets-gulp/scss/admin/componentes/_system.scss */
.acordion-two .acordion-header h2 button {
  font-family: "Lato Bold";
  color: var(--color-for);
}

/* line 351, public/assets-gulp/scss/admin/componentes/_system.scss */
.btn-five {
  float: right;
  margin-top: -3rem;
}

/* line 356, public/assets-gulp/scss/admin/componentes/_system.scss */
.descarga-item .item h2 {
  display: inline-block;
  margin-right: 1rem;
}

/** custom */
/* line 361, public/assets-gulp/scss/admin/componentes/_system.scss */
.text-three {
  color: var(--color-three);
}

/* line 364, public/assets-gulp/scss/admin/componentes/_system.scss */
.bg-three {
  color: #ffffff;
  background: var(--color-three);
}

/* line 368, public/assets-gulp/scss/admin/componentes/_system.scss */
.btn-three {
  color: #ffffff !important;
  background: var(--color-three) !important;
  box-shadow: none !important;
  padding: 7px 25px;
  border-radius: 15px;
}

/* line 375, public/assets-gulp/scss/admin/componentes/_system.scss */
.btn-out-three {
  color: var(--color-three) !important;
  background: #ffffff !important;
  box-shadow: none !important;
  padding: 7px 25px;
  border-radius: 15px;
  border: 1px solid var(--color-three) !important;
}

/* line 383, public/assets-gulp/scss/admin/componentes/_system.scss */
.btn-three:hover,
.btn-three-sm:hover {
  background: #ffffff !important;
  color: var(--color-three) !important;
  border: 1px solid var(--color-three) !important;
}

/* line 389, public/assets-gulp/scss/admin/componentes/_system.scss */
.btn-out-three:hover,
.btn-out-three-sm:hover {
  background: var(--color-three) !important;
  color: #ffffff !important;
  border: 1px solid var(--color-three) !important;
}

/* line 395, public/assets-gulp/scss/admin/componentes/_system.scss */
.btn-three-sm {
  color: #ffffff !important;
  background: var(--color-three) !important;
  box-shadow: none !important;
  padding: .25rem .8rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .3rem;
}

/* line 404, public/assets-gulp/scss/admin/componentes/_system.scss */
.btn-out-three-sm {
  background: #ffffff !important;
  color: var(--color-three) !important;
  box-shadow: none !important;
  padding: .25rem .8rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .3rem;
  border: 1px solid var(--color-three) !important;
}

/* line 414, public/assets-gulp/scss/admin/componentes/_system.scss */
.bg-five {
  color: #ffffff;
  background: var(--color-five);
}

/* line 418, public/assets-gulp/scss/admin/componentes/_system.scss */
.bg-five-out {
  color: var(--color-five);
  background: var(--color-five-out);
}

/* line 422, public/assets-gulp/scss/admin/componentes/_system.scss */
.bg-nine {
  color: #ffffff;
  background: var(--color-nine);
}

/* line 426, public/assets-gulp/scss/admin/componentes/_system.scss */
.bg-nine-out {
  color: #000000;
  background: var(--color-nine-out);
}

/* line 430, public/assets-gulp/scss/admin/componentes/_system.scss */
.table-dev {
  font-size: 1rem;
  color: var(--color-five);
  margin: 0px;
}

/* line 435, public/assets-gulp/scss/admin/componentes/_system.scss */
.table-dev thead tr {
  background: var(--color-five-out);
  text-align: center;
}

/* line 439, public/assets-gulp/scss/admin/componentes/_system.scss */
.table-dev td:nth-child(1) {
  text-align: left;
}

/* line 442, public/assets-gulp/scss/admin/componentes/_system.scss */
.table-dev td {
  text-align: center;
  border: 0px;
  border: 1px solid #dee2e6;
}

/* line 447, public/assets-gulp/scss/admin/componentes/_system.scss */
.list-group-custom {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

/* line 458, public/assets-gulp/scss/admin/componentes/_system.scss */
.list-group-item-custom {
  position: relative;
  display: block;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 15px;
}

/* line 465, public/assets-gulp/scss/admin/componentes/_system.scss */
.list-group-custom .item-name {
  float: left;
  font-weight: 500;
  text-align: left;
  border-left: 2px solid var(--color-five);
  display: table;
  background: var(--color-five-out);
  padding: .75rem 1.25rem;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}

/* line 475, public/assets-gulp/scss/admin/componentes/_system.scss */
.list-group-custom .item-value {
  float: left;
  text-align: center;
  display: table;
  padding: .75rem 1.25rem;
  font-weight: 600;
  word-break: break-all;
}

/* line 483, public/assets-gulp/scss/admin/componentes/_system.scss */
.list-group-custom .item-name span {
  display: table-cell;
  vertical-align: middle;
}

/* line 487, public/assets-gulp/scss/admin/componentes/_system.scss */
.list-group-custom .item-value span {
  display: table-cell;
  vertical-align: middle;
}

/* line 491, public/assets-gulp/scss/admin/componentes/_system.scss */
.f-w150 {
  width: calc( 100% - 150px);
}

/* line 494, public/assets-gulp/scss/admin/componentes/_system.scss */
.w150 {
  width: 150px;
}

/* line 497, public/assets-gulp/scss/admin/componentes/_system.scss */
.f-w300 {
  width: calc( 100% - 300px);
}

/* line 500, public/assets-gulp/scss/admin/componentes/_system.scss */
.h50-25 {
  height: 50.25px;
}

/* line 504, public/assets-gulp/scss/admin/componentes/_system.scss */
.m-header {
  margin-top: 5rem;
}

@media only screen and (max-width: 768px) {
  /* line 509, public/assets-gulp/scss/admin/componentes/_system.scss */
  .data-content {
    position: inherit !important;
    width: auto !important;
    margin-top: 15rem;
  }
  /* line 515, public/assets-gulp/scss/admin/componentes/_system.scss */
  .slide-one-text {
    padding: 1rem !important;
  }
  /* line 519, public/assets-gulp/scss/admin/componentes/_system.scss */
  .item-float {
    right: 0;
    left: auto;
    border-radius: 15px 0px 0px 15px !important;
  }
  /* line 524, public/assets-gulp/scss/admin/componentes/_system.scss */
  .table-one-data {
    padding: 15px;
  }
}
