<!DOCTYPE html>
<html lang="en-US" class="no-js">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{_company.meta_title}}</title>

    <link rel='shortcut icon' href='{{_company.favicon}}' />
    <link rel='stylesheet' href='/assets/template/apzo/plugins/goodlayers-core/plugins/fontawesome/font-awesome.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/assets/template/apzo/plugins/goodlayers-core/plugins/elegant/elegant-font.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/assets/template/apzo/plugins/goodlayers-core/plugins/ionicons/ionicons.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/assets/template/apzo/plugins/goodlayers-core/plugins/simpleline/simpleline.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/assets/template/apzo/plugins/goodlayers-core/plugins/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/assets/template/apzo/plugins/goodlayers-core/include/css/page-builder.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/assets/template/apzo/plugins/revslider/public/assets/css/rs6.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/assets/template/apzo/plugins/google-map-plugin/assets/css/frontend.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/assets/template/apzo/css/style-core.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/assets/template/apzo/css/apzo-style-custom.css' type='text/css' media='all' />

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;subset=vietnamese%2Clatin-ext%2Ccyrillic%2Ccyrillic-ext%2Clatin&amp;display=optional&amp;ver=5.3.2' type='text/css' media='all' />
    <link href="https://fonts.googleapis.com/css?family=Roboto:600%2C400" rel="stylesheet" property="stylesheet" media="all" type="text/css">

    <style>
        body {
            {% for color_item in _company.colors %}
            --main-{{ color_item.alias }}: {{ color_item.color }};
            {% endfor %}
        }
    </style>

    {% block css %} {% endblock %}

</head>

<body class="home page-template-default page page-id-8230 theme-apzo gdlr-core-body woocommerce-no-js apzo-body apzo-body-front apzo-full  apzo-with-sticky-navigation  apzo-blockquote-style-1 gdlr-core-link-to-lightbox" data-home-url="#">
    {% block headerMobile %} {% endblock %}
    <div class="apzo-body-outer-wrapper ">
        <div class="apzo-body-wrapper clearfix  apzo-with-transparent-header apzo-with-frame">
            <div class="apzo-header-background-transparent">
                <div class="apzo-top-bar">
                    <div class="apzo-top-bar-background"></div>
                    {% include 'home/apzo/layouts/partials/header.top.bar.twig' %}
                </div>
                {% block header %} {% endblock %} 
                <!-- header -->
            </div>
            {% block content %} {% endblock %} 
            {% include 'home/apzo/layouts/partials/footer.twig' %}
        </div>
    </div>


    <script type='text/javascript' src='/assets/template/apzo/js/jquery/jquery.js'></script>
    <script type='text/javascript' src='/assets/template/apzo/js/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='/assets/template/apzo/plugins/revslider/public/assets/js/revolution.tools.min.js'></script>
    <script type='text/javascript' src='/assets/template/apzo/plugins/revslider/public/assets/js/rs6.min.js'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var SnazzyDataForSnazzyMaps = [];
        SnazzyDataForSnazzyMaps = {
            "id": 151,
            "name": "Ultra Light with Labels",
            "description": "Light Rust",
            "url": "https:\/\/snazzymaps.com\/style\/151\/ultra-light-with-labels",
            "imageUrl": "https:\/\/snazzy-maps-cdn.azureedge.net\/assets\/151-ultra-light-with-labels.png?v=20170626083737",
            "json": "[{\"featureType\":\"water\",\"elementType\":\"geometry\",\"stylers\":[{\"color\":\"#e9e9e9\"},{\"lightness\":17}]},{\"featureType\":\"landscape\",\"elementType\":\"geometry\",\"stylers\":[{\"color\":\"#f5f5f5\"},{\"lightness\":20}]},{\"featureType\":\"road.highway\",\"elementType\":\"geometry.fill\",\"stylers\":[{\"color\":\"#ffffff\"},{\"lightness\":17}]},{\"featureType\":\"road.highway\",\"elementType\":\"geometry.stroke\",\"stylers\":[{\"color\":\"#ffffff\"},{\"lightness\":29},{\"weight\":0.2}]},{\"featureType\":\"road.arterial\",\"elementType\":\"geometry\",\"stylers\":[{\"color\":\"#ffffff\"},{\"lightness\":18}]},{\"featureType\":\"road.local\",\"elementType\":\"geometry\",\"stylers\":[{\"color\":\"#ffffff\"},{\"lightness\":16}]},{\"featureType\":\"poi\",\"elementType\":\"geometry\",\"stylers\":[{\"color\":\"#f5f5f5\"},{\"lightness\":21}]},{\"featureType\":\"poi.park\",\"elementType\":\"geometry\",\"stylers\":[{\"color\":\"#dedede\"},{\"lightness\":21}]},{\"elementType\":\"labels.text.stroke\",\"stylers\":[{\"visibility\":\"on\"},{\"color\":\"#ffffff\"},{\"lightness\":16}]},{\"elementType\":\"labels.text.fill\",\"stylers\":[{\"saturation\":36},{\"color\":\"#333333\"},{\"lightness\":40}]},{\"elementType\":\"labels.icon\",\"stylers\":[{\"visibility\":\"off\"}]},{\"featureType\":\"transit\",\"elementType\":\"geometry\",\"stylers\":[{\"color\":\"#f2f2f2\"},{\"lightness\":19}]},{\"featureType\":\"administrative\",\"elementType\":\"geometry.fill\",\"stylers\":[{\"color\":\"#fefefe\"},{\"lightness\":20}]},{\"featureType\":\"administrative\",\"elementType\":\"geometry.stroke\",\"stylers\":[{\"color\":\"#fefefe\"},{\"lightness\":17},{\"weight\":1.2}]}]",
            "views": 1000970,
            "favorites": 2766,
            "createdBy": {
                "name": "Anonymous",
                "url": null
            },
            "createdOn": "2014-11-04T03:01:33.197",
            "tags": ["greyscale", "light"],
            "colors": ["gray", "white"]
        };
        /* ]]> */
    </script>
    <script type='text/javascript' src='/assets/template/apzo/plugins/snazzy-maps/snazzymaps.js'></script>
    <!--[if lt IE 9]>
    <script type='text/javascript' src='https://demo.goodlayers.com/apzo/saasclean/js/html5.js'></script>
    <![endif]-->
    
    <script type="text/javascript">
        function setREVStartSize(t) {
            try {
                var h, e = document.getElementById(t.c).parentNode.offsetWidth;
                if (e = 0 === e || isNaN(e) ? window.innerWidth : e, t.tabw = void 0 === t.tabw ? 0 : parseInt(t.tabw), t.thumbw = void 0 === t.thumbw ? 0 : parseInt(t.thumbw), t.tabh = void 0 === t.tabh ? 0 : parseInt(t.tabh), t.thumbh = void 0 === t.thumbh ? 0 : parseInt(t.thumbh), t.tabhide = void 0 === t.tabhide ? 0 : parseInt(t.tabhide), t.thumbhide = void 0 === t.thumbhide ? 0 : parseInt(t.thumbhide), t.mh = void 0 === t.mh || "" == t.mh || "auto" === t.mh ? 0 : parseInt(t.mh, 0), "fullscreen" === t.layout || "fullscreen" === t.l) h = Math.max(t.mh, window.innerHeight);
                else {
                    for (var i in t.gw = Array.isArray(t.gw) ? t.gw : [t.gw], t.rl) void 0 !== t.gw[i] && 0 !== t.gw[i] || (t.gw[i] = t.gw[i - 1]);
                    for (var i in t.gh = void 0 === t.el || "" === t.el || Array.isArray(t.el) && 0 == t.el.length ? t.gh : t.el, t.gh = Array.isArray(t.gh) ? t.gh : [t.gh], t.rl) void 0 !== t.gh[i] && 0 !== t.gh[i] || (t.gh[i] = t.gh[i - 1]);
                    var r, a = new Array(t.rl.length),
                        n = 0;
                    for (var i in t.tabw = t.tabhide >= e ? 0 : t.tabw, t.thumbw = t.thumbhide >= e ? 0 : t.thumbw, t.tabh = t.tabhide >= e ? 0 : t.tabh, t.thumbh = t.thumbhide >= e ? 0 : t.thumbh, t.rl) a[i] = t.rl[i] < window.innerWidth ? 0 : t.rl[i];
                    for (var i in r = a[0], a) r > a[i] && 0 < a[i] && (r = a[i], n = i);
                    var d = e > t.gw[n] + t.tabw + t.thumbw ? 1 : (e - (t.tabw + t.thumbw)) / t.gw[n];
                    h = t.gh[n] * d + (t.tabh + t.thumbh)
                }
                void 0 === window.rs_init_css && (window.rs_init_css = document.head.appendChild(document.createElement("style"))), document.getElementById(t.c).height = h, window.rs_init_css.innerHTML += "#" + t.c + "_wrapper { height: " + h + "px }"
            } catch (t) {
                console.log("Failure at Presize of Slider:" + t)
            }
        };
    </script>
    <script type="text/javascript">
        if (typeof revslider_showDoubleJqueryError === "undefined") {
            function revslider_showDoubleJqueryError(sliderID) {
                var err = "<div class='rs_error_message_box'>";
                err += "<div class='rs_error_message_oops'>Oops...</div>";
                err += "<div class='rs_error_message_content'>";
                err += "You have some jquery.js library include that comes after the Slider Revolution files js inclusion.<br>";
                err += "To fix this, you can:<br>&nbsp;&nbsp;&nbsp; 1. Set 'Module General Options' -> 'Advanced' -> 'jQuery & OutPut Filters' -> 'Put JS to Body' to on";
                err += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jQuery.js inclusion and remove it";
                err += "</div>";
                err += "</div>";
                jQuery(sliderID).show().html(err);
            }
        }
    </script>
    <script type='text/javascript' src='/assets/template/apzo/plugins/goodlayers-core/plugins/script.js'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var gdlr_core_pbf = {
            "admin": "",
            "video": {
                "width": "640",
                "height": "360"
            },
            "ajax_url": "#"
        };
        /* ]]> */
    </script>
    <script type='text/javascript' src='/assets/template/apzo/plugins/goodlayers-core/include/js/page-builder.js'></script>
    <script type='text/javascript' src='/assets/template/apzo/js/jquery/ui/effect.min.js'></script>
    <script type='text/javascript' src='/assets/template/apzo/js/jquery.mmenu.js'></script>
    <script type='text/javascript' src='/assets/template/apzo/js/jquery.superfish.js'></script>
    <script type='text/javascript' src='/assets/template/apzo/js/script-core.js'></script>

    <script type="text/javascript">
        setREVStartSize({
            c: 'rev_slider_1_1',
            rl: [1240, 1240, 778, 480],
            el: [835, 835, 660, 620],
            gw: [1240, 1240, 778, 520],
            gh: [835, 835, 660, 620],
            layout: 'fullwidth',
            mh: "0"
        });
        var revapi1,
            tpj;
        jQuery(function() {
            tpj = jQuery;
            if (tpj("#rev_slider_1_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_1_1");
            } else {
                revapi1 = tpj("#rev_slider_1_1").show().revolution({
                    jsFileLocation: "plugins/revslider/public/assets/js/",
                    sliderLayout: "fullwidth",
                    visibilityLevels: "1240,1240,778,480",
                    gridwidth: "1240,1240,778,520",
                    gridheight: "835,835,660,620",
                    minHeight: "",
                    editorheight: "835,690,660,620",
                    responsiveLevels: "1240,1240,778,480",
                    disableProgressBar: "on",
                    navigation: {
                        mouseScrollNavigation: false,
                        onHoverStop: false,
                        bullets: {
                            enable: true,
                            tmp: "<span class=\"tp-bullet-inner\"></span>",
                            style: "uranus",
                            v_offset: 44,
                            space: 9
                        }
                    },
                    fallbacks: {
                        allowHTML5AutoPlayOnAndroid: true
                    },
                });
            }

        });
    </script>
    <script>
        var htmlDivCss = unescape("%23rev_slider_1_1_wrapper%20.uranus%20.tp-bullet%7B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20box-shadow%3A%200%200%200%202px%20rgba%28255%2C255%2C255%2C0%29%3B%0A%20%20-webkit-transition%3A%20box-shadow%200.3s%20ease%3B%0A%20%20transition%3A%20box-shadow%200.3s%20ease%3B%0A%20%20background%3Atransparent%3B%0A%20%20width%3A15px%3B%0A%20%20height%3A15px%3B%0A%7D%0A%23rev_slider_1_1_wrapper%20.uranus%20.tp-bullet.selected%2C%0A%23rev_slider_1_1_wrapper%20.uranus%20.tp-bullet%3Ahover%20%7B%0A%20%20box-shadow%3A%200%200%200%202px%20rgba%28255%2C255%2C255%2C1%29%3B%0A%20%20border%3Anone%3B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20background%3Atransparent%3B%0A%7D%0A%0A%23rev_slider_1_1_wrapper%20.uranus%20.tp-bullet-inner%20%7B%0A%20%20-webkit-transition%3A%20background-color%200.3s%20ease%2C%20-webkit-transform%200.3s%20ease%3B%0A%20%20transition%3A%20background-color%200.3s%20ease%2C%20transform%200.3s%20ease%3B%0A%20%20top%3A%200%3B%0A%20%20left%3A%200%3B%0A%20%20width%3A%20100%25%3B%0A%20%20height%3A%20100%25%3B%0A%20%20outline%3A%20none%3B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20background-color%3A%20rgba%28255%2C255%2C255%2C0%29%3B%0A%20%20background-color%3A%20rgba%28255%2C255%2C255%2C0.3%29%3B%0A%20%20text-indent%3A%20-999em%3B%0A%20%20cursor%3A%20pointer%3B%0A%20%20position%3A%20absolute%3B%0A%7D%0A%0A%23rev_slider_1_1_wrapper%20.uranus%20.tp-bullet.selected%20.tp-bullet-inner%2C%0A%23rev_slider_1_1_wrapper%20.uranus%20.tp-bullet%3Ahover%20.tp-bullet-inner%7B%0A%20transform%3A%20scale%280.4%29%3B%0A%20-webkit-transform%3A%20scale%280.4%29%3B%0A%20background-color%3Argba%28255%2C255%2C255%2C1%29%3B%0A%7D%0A");
        var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
        if (htmlDiv) {
            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
        } else {
            var htmlDiv = document.createElement('div');
            htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
            document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
        }
    </script>
    <script>
        var htmlDivCss = unescape("%0A%0A");
        var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
        if (htmlDiv) {
            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
        } else {
            var htmlDiv = document.createElement('div');
            htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
            document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
        }
    </script>

    {% block js %} {% endblock %}
</body>
</html>