@font-face {
  font-family: "Lato Regular";
  src: url("/assets/font/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato Bold";
  src: url("/assets/font/Lato-Bold.ttf");
}
@font-face {
  font-family: "Lato Black";
  src: url("/assets/font/Lato-Black.ttf");
}
html {
  font-size: 13px;
}

body {
  font-size: 1rem !important;
  --color-one: white;
  --color-two: #21ADA4;
  --color-three: #21ADA4;
  --color-for: #262B3F;
  --color-five: #262B3F;
  --color-five-out: #f4f6f9;
  --color-six: #f7f7f7;
  --color-seven: #4d4d53;
  --color-eigth: #c5b46d;
  --color-nine: #4caf50;
  --color-nine-out: #e8f5e9;
  --color-ten: #e1f5fe;
  --color-eleven: #e8f5e9;
  --color-twelve: #c7e5c8;
  --color-thirteen: #e3f2fd;
  font-family: "Lato Regular", sans-serif !important;
  font-weight: 400;
  height: 75vh;
}

header {
  background: var(--color-four);
  position: fixed;
  top: 0;
  z-index: 2;
  font-family: "Lato Regular", sans-serif !important;
  background-color: var(--color-for);
}
header .logo-block {
  background-color: white;
  border-bottom: 0.4rem solid white;
}
header .logo-block:hover {
  border-bottom: 0.4rem solid var(--color-two);
}
header .logo-block a img {
  padding-top: 6px;
}
header nav {
  height: 100%;
}
header nav .header-item {
  height: 100%;
}
header nav .header-item ul {
  height: 100%;
}
header nav .header-item ul .show > .nav-link {
  color: white !important;
}
header nav .header-item ul li {
  height: 100%;
  border-bottom: 0.4rem solid var(--color-for);
}
header nav .header-item ul li:hover {
  border-bottom: 0.4rem solid var(--color-two);
}
header nav .header-item ul li:hover .nav-link {
  color: white !important;
}

footer {
  background: var(--color-for);
  color: white;
  padding: 1rem;
}

footer a {
  text-decoration: none;
  color: white;
}

.header-item .navbar-nav .nav-item .nav-link {
  color: white;
}

header nav img {
  max-height: 3rem;
}

.active-head a {
  color: var(--color-three) !important;
  font-weight: 600;
}

.m-width {
  max-width: 1500px;
}

.btn-one {
  background: var(--color-two);
  border-radius: 20px;
  color: white !important;
  font-family: "Lato Regular", sans-serif !important;
}

.btn-one a {
  color: white !important;
  font-family: "Lato Regular", sans-serif !important;
}

.btn-one:hover {
  background: white;
  border: 1px solid var(--color-two);
  color: var(--color-two) !important;
}

.btn-one:hover a {
  color: var(--color-two) !important;
}

.btn-one-border {
  border: 1px solid var(--color-two);
  color: var(--color-two) !important;
  border-radius: 20px;
}

.btn-one-border a {
  color: var(--color-two) !important;
}

.btn-one-border:hover {
  background: var(--color-two);
  color: white;
}

.btn-one-border:hover a {
  color: white !important;
}

button {
  box-shadow: none !important;
}

.btn-two {
  background: var(--color-three) !important;
  border-radius: 1rem !important;
  color: white !important;
  font-family: "Lato Regular", sans-serif !important;
  border: 1px solid var(--color-three) !important;
  padding: 0.4rem 1.5rem !important;
}

.btn-two a {
  color: white !important;
  font-family: "Lato Regular", sans-serif !important;
}

.btn-two:hover {
  background: white !important;
  border: 1px solid var(--color-three) !important;
  color: var(--color-three) !important;
}

.btn-two:hover a {
  color: var(--color-three) !important;
}

.btn-for {
  background: var(--color-eigth);
  border-radius: 1rem;
  color: var(--color-for) !important;
  font-family: "Lato Regular", sans-serif !important;
}

.btn-for a {
  color: white !important;
  font-family: "Lato Regular", sans-serif !important;
}

.btn-for:hover {
  background: white;
  border: 1px solid var(--color-eigth);
}

.btn-for:hover a {
  color: var(--color-eigth) !important;
}

.btn-five {
  background: var(--color-for);
  border-radius: 1rem;
  color: white !important;
  font-family: "Lato Regular", sans-serif !important;
}

.btn-five a {
  color: var(--color-for) !important;
  font-family: "Lato Regular", sans-serif !important;
}

.btn-five:hover {
  background: white;
  border: 1px solid var(--color-for);
  color: var(--color-for) !important;
}

.btn-five:hover a {
  color: var(--color-for) !important;
}

.navbar-light .navbar-toggler {
  background-color: white;
}

.resalt {
  color: var(--color-two);
}

.k-card-profile {
  padding: 0px !important;
  border-radius: 2rem;
  max-width: 800px;
  margin: auto;
  margin-top: 3rem !important;
  margin-bottom: 9rem !important;
}
.k-card-profile .k-panel-profile {
  background-color: var(--color-for);
  padding: 0px;
}
.k-card-profile .k-panel-profile .k-panel-menu {
  /*width: 300px;*/
  font-size: 1.2rem;
  margin: 0;
  display: block;
  padding: 1.5rem 0rem;
}
.k-card-profile .k-panel-profile .k-panel-menu .k-panel-item {
  display: block;
  width: 100%;
}
.k-card-profile .k-panel-profile .k-panel-menu .k-panel-item .active {
  background-color: #ffffff;
  color: var(--color-four);
}
.k-card-profile .k-panel-profile .k-panel-menu .k-panel-item .active:hover {
  color: var(--color-four);
}
.k-card-profile .k-panel-profile .k-panel-menu .k-panel-link {
  text-align: left;
  padding: 1.8rem;
  color: #ffffff;
  border-radius: 0;
}
.k-card-profile .k-panel-profile .k-panel-menu .k-panel-link:hover {
  color: #ffffff;
}
.k-card-profile .k-panel-profile .k-panel-body {
  /*width: calc(100% - 300px);*/
  background-color: #ffffff;
}
.k-card-profile .k-panel-profile .k-panel-body .tab-pane {
  padding: 3.5rem 3rem;
}

.linea-prima p {
  font-family: "Lato Black" !important;
  font-size: 2rem;
  font-weight: 600;
}

.item-float {
  background: var(--color-five);
  position: fixed;
  left: 0;
  width: 3rem;
  border-radius: 0px 15px 15px 0px;
  top: 20rem;
  z-index: 2;
}

.item-float a {
  text-decoration: none;
  color: white;
  display: block;
  margin: 8px 0px;
}

.linea {
  border-bottom: 1px solid var(--color-for);
  height: 1rem;
}

.bg-white {
  padding-top: 8rem;
}

.w-100 {
  width: 100% !important;
}

.cursor-pointer {
  cursor: pointer;
}

.k-title-modal {
  font-weight: 600;
  color: var(--color-three);
}

.text-three {
  color: var(--color-three);
}

.bg-three {
  color: #ffffff;
  background: var(--color-three);
}

.btn-three {
  color: #ffffff !important;
  background: var(--color-three) !important;
  box-shadow: none !important;
  border-radius: 0.4rem !important;
  border: 1px solid var(--color-three) !important;
  padding: 0.4rem 1.5rem !important;
  font-size: 2rem !important;
}

.btn-out-three {
  color: var(--color-three) !important;
  background: #ffffff !important;
  box-shadow: none !important;
  padding: 0.4rem 1.5rem !important;
  border-radius: 15px !important;
  border: 1px solid var(--color-three) !important;
}

.btn-three:hover,
.btn-three-sm:hover {
  cursor: pointer;
  background: #ffffff !important;
  color: var(--color-three) !important;
  border: 1px solid var(--color-three) !important;
}

.btn-out-three:hover,
.btn-out-three-sm:hover {
  cursor: pointer;
  background: var(--color-three) !important;
  color: #ffffff !important;
  border: 1px solid var(--color-three) !important;
}

.btn-three-sm {
  color: #ffffff !important;
  background: var(--color-three) !important;
  box-shadow: none !important;
  padding: 0.25rem 0.8rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.btn-out-three-sm {
  background: #ffffff !important;
  color: var(--color-three) !important;
  box-shadow: none !important;
  padding: 0.25rem 0.8rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.3rem !important;
  border: 1px solid var(--color-three) !important;
}

.btn-four {
  color: #ffffff !important;
  background: var(--color-two) !important;
  box-shadow: none !important;
  padding: 0.4rem 1.5rem !important;
  border-radius: 0.4rem !important;
  border: 1px solid var(--color-for) !important;
}

.btn-out-four {
  color: var(--color-for) !important;
  background: var(--color-four) !important;
  box-shadow: none !important;
  padding: 7px 25px;
  border-radius: 1rem !important;
  border: 1px solid var(--color-for) !important;
}

.btn-four:hover,
.btn-four:focus,
.btn-four-sm:hover {
  cursor: pointer;
  background: #424242 !important;
  color: var(--color-for) !important;
  border: 1px solid var(--color-for) !important;
}

.btn-four-sm {
  color: #ffffff !important;
  background: var(--color-for) !important;
  box-shadow: none !important;
  padding: 0.25rem 0.8rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.3rem !important;
}

.btn-out-four-sm {
  background: #ffffff !important;
  color: var(--color-for) !important;
  box-shadow: none !important;
  padding: 0.25rem 0.8rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.3rem !important;
  border: 1px solid var(--color-for) !important;
}

.text-four {
  color: var(--color-for);
}

.text-three {
  color: var(--color-three);
}

.panel-admin-sticky {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 80px;
}

.credit-block .credit-title {
  color: var(--color-three) !important;
  font-weight: 600;
}
.credit-block .credit-pl {
  padding-left: 2rem;
}
.credit-block .credit-pr {
  padding-right: 2rem;
}
.credit-block .credit-stitle {
  font-weight: 600;
}
.credit-block .credit-logo {
  margin: auto;
}
.credit-block .credit-logo img {
  width: 100%;
}
.credit-block .credit-contact {
  margin-left: 2rem;
}
.credit-block .credit-contact img {
  width: 1.5rem;
}
.credit-block .credit-link {
  text-align: right;
}
.credit-block .credit-link a {
  margin: 3px;
  background-color: var(--color-for);
  color: white;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  border-radius: 5px;
}
.credit-block .credit-link a:hover {
  background-color: white;
  color: var(--color-for);
  border: 1px solid var(--color-for);
}

.margin-sub {
  margin: 3rem auto;
}

.tfooter {
  font-size: 1.2rem;
  font-weight: bold;
}

.stfooter {
  font-size: 1rem;
  font-style: italic;
}
.stfooter img {
  height: 2.5rem;
}

.ctfooter {
  font-size: 1rem;
  font-weight: bold;
}

@media only screen and (max-width: 992px) {
  header {
    background-color: white;
  }
  header nav {
    height: auto;
  }
  header nav .header-item {
    height: auto;
  }
  header nav .header-item ul {
    height: auto;
  }
  header nav .header-item ul li {
    height: auto;
  }

  .stfooter, .tfooter {
    text-align: center;
  }

  .header-item .navbar-nav .nav-item:hover .nav-link {
    color: black !important;
  }
  .header-item .navbar-nav .nav-item .nav-link {
    color: black;
  }

  .margin-sub {
    margin: 1rem auto;
  }
}
@media only screen and (max-width: 1200px) {
  .margin-sub {
    margin: 1rem auto;
  }
}
@media only screen and (min-width: 768px) {
  .margin-sub {
    margin: 1rem auto;
  }
}