<div class="container">
	<div class="row">
		<div class="col-md-7 form-group">
			<div class="row">
				<div class="col-12  tfooter">
					<h4>Proyecto Desarrollado por:</h4>
				</div>
				<div class="col-md-4 stfooter">
					<p>Dirección del Proyecto:</p>
					<img class="logo-footer" src="/assets/template/general/images/lb-casa.png">
				</div>
				<div class="col-md-4 stfooter">
					<p>Asesoría y diseño web:</p>
					<img class="logo-footer" src="/assets/template/general/images/lb-cmi.png">
				</div>
				<div class="col-md-4 stfooter">
					<p>Asesoría  en Programación Web:</p>
					<img class="logo-footer" src="/assets/template/general/images/lb-soft.png">
				</div>
			</div>
		</div>
		<div class="col-md-5 form-group">
			<div class="row justify-content-center">
				<div class="col-12 ctfooter align-self-end text-center">
					<p>info@cassalegalia.com.pe<br>980 807080</p>
				</div>
				<div class="col-6 mt-3">
					<div class="row">
						<div class="col socialf">
							<i class="fab fa-facebook-f"></i>
						</div>
						<div class="col socialf">
							<i class="fab fa-linkedin-in"></i>
						</div>
						<div class="col socialf">
							<i class="fab fa-youtube"></i>
						</div>
						<div class="col socialf">
							<i class="fab fa-whatsapp"></i>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
