<div class="row">
  <div class="col-3 logo-block d-md-block d-none text-center ">
    <a class="navbar-brand" href="/"><img src="/assets/template/general/images/logo.jpeg"></a>
  </div>
  <div class="col-md-9 col-sm-12">
    <nav class="navbar navbar-expand-lg navbar-light  mx-auto m-width header-responsive pb-0">
      <a class="navbar-brand 	 d-sm-none" href="/"><img src="/assets/template/general/images/logo.jpeg"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse header-item" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto">
          <li class="nav-item">
            <a class="nav-link mx-2 my-3" href="/costo-capital">HISTORIA</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link mx-2 my-3 dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">DOCUMENTOS LEGALES</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Contrato de locación de servicios</a>
              <a class="dropdown-item" href="#">Carta poder</a>
              <a class="dropdown-item" href="#">Acuerdo de confidencialidad</a>
              <a class="dropdown-item" href="#">Contrato de arrendamiento</a>
              <a class="dropdown-item" href="#">Empleada del hogar</a>
              <a class="dropdown-item" href="#">Contrato de compra venta</a>
              <a class="dropdown-item" href="#">Mutuo dinerario</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"><b>Ver más</b></a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 my-3" href="{{ contacto.data.url_uno }}" target="_blank">NOTARÍAS AFILIADAS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 my-3" href="/reportes">ABOGADOS AFILIADOS</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link mx-2 my-3" href="/contacto">CONTACTO</a>
          </li>
        </ul>
        <ul class="navbar-nav m-auto">
          <div class="align-middle line-sep"></div>
          <li class="nav-item">
            <a class="nav-link mx-2 my-3 btn btn-four" href="/login">INGRESAR</a>
          </li>
        </ul>
      </div>
      {#<a class="navbar-brand logo-header-second" href="https://fri.com.pe/"><img src="/assets/image/logo2.png"></a>#}
    </nav>
  </div>
</div>