<div class="item-float">
	<a class="nav-link d-inline-block" href="#" target="_blank"><i class="fab fa-facebook-f"></i> <span class="sr-only">(current)</span></a>
	<a class="nav-link d-inline-block" href="#" target="_blank"><i class="fab fa-linkedin-in"></i> <span class="sr-only">(current)</span></a>
	<a class="nav-link d-inline-block" href="#" target="_blank"><i class="fab fa-youtube"></i> <span class="sr-only">(current)</span></a>
	<a class="nav-link d-inline-block" href="#" target="_blank"><i class="fab fa-whatsapp"></i> <span class="sr-only">(current)</span></a>
</div>