<div id="kt_header" class="header header-fixed">
    <div class="container-fluid d-flex align-items-stretch justify-content-between">
        <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
            <div id="kt_header_menu" class="header-menu header-menu-mobile header-menu-layout-default">
                <ul class="menu-nav">
                    {# <li class="menu-item menu-item-submenu" data-menu-toggle="click" aria-haspopup="true">
                        <a href="javascript:;" class="menu-link menu-toggle">
                            <span class="menu-text">Pages</span>
                            <i class="menu-arrow"></i>
                        </a>
                    </li>
		            <li class="menu-item menu-item-submenu menu-item-here" data-menu-toggle="click" aria-haspopup="true">
                        <a href="javascript:;" class="menu-link menu-toggle">
                            <span class="menu-text">Features</span>
                            <i class="menu-arrow"></i>
                        </a>
                    </li> #}
                    <li class="menu-item">
                        <a href="/admin" class="menu-link">
                            <span class="menu-text">Home</span>
                            <i class="menu-arrow"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="topbar">
            <div class="topbar-item">
                <div class="dropdown dropdown-inline">
                    <a href="javascript:;" data-toggle="dropdown">
                        <div class="btn btn-icon btn-icon-mobile w-auto btn-clean d-flex align-items-center btn-lg px-2" id="kt_quick_user_toggle">
                            <span class="text-muted font-weight-bold font-size-base d-none d-md-inline mr-1">Hola,</span>
                            <span class="text-dark-50 font-weight-bolder font-size-base d-none d-md-inline mr-3">
                                {{ APP.SESSION.USER is defined ? APP.SESSION.USER.name : 'Usuario' }}
                            </span>
                            <span class="symbol symbol-lg-35 symbol-25 symbol-light-primary">
                                <span class="symbol-label font-size-h5 font-weight-bold">
                                {{ APP.SESSION.USER is defined ? APP.SESSION.USER.name|slice(0, 1)|upper : 'U' }}
                                </span>
                            </span>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                        <ul class="nav nav-hoverable flex-column">
                            <li class="nav-item"><a class="nav-link" href="/admin/usuario/perfil"><i class="nav-icon far fa-user"></i><span class="nav-text">Mi perfil</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="javascript:;" onclick="_singout()"><i class="nav-icon fas fa-sign-out-alt"></i><span class="nav-text">Salir</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>