#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.3;
}

.slider-height{
    max-height: 95vh;
    overflow: hidden;
    background-color: var(--main-six);
    .slider-elements{
        position: absolute;
        top: 0;
        width: 80%;
        padding-top: 8rem;
        p{
            font-size: 3.2rem;
            text-transform: uppercase;
            font-weight: 500;
            line-height: 4rem;
        }
        a{
            color: white;
            text-decoration: none;
            background-color: var(--main-two);
            font-weight: 400 !important;
            padding: 0.8rem 2.8rem;
            display: inline-block;
            margin-top: 1rem;
        }
        color: white;
    }
}

#owl-carrusel .item img{
    display: block;
    width: 5rem;
    height: auto;
}
.slider-carrusel{
    max-height: 95vh;
    overflow: hidden;
    .banner-elements{

        top: 0;
        width: 100%;
        padding-top: 8rem;
        p{
            font-size: 3.2rem;
            text-transform: uppercase;
            font-weight: 500;
            line-height: 4rem;
        }
        a{
            color: white;
            text-decoration: none;
            background-color: var(--main-two);
            font-weight: 400 !important;
            padding: 0.8rem 2.8rem;
            display: inline-block;
            margin-top: 1rem;
        }
        color: white;
    }
}

.exp-top{
    position: relative;
    z-index: 1;
    margin-top: -6rem;
    margin-bottom: 3rem;
    .item{
        padding: 1.4rem 1.8rem;
        img{
            height: 3rem;
        }
        h3{
            font-size: 1.5rem;
            margin-top: 0.8rem;
        }
    }
    .item:nth-child(odd){
        background-color: #f5f7f4;
    }
    .item:nth-child(even){
        background-color: #faf9fe;
    }
}