.btn--primary {
    color: #fff;
    background-color: var(--main-resaltar);
}

.btn--primary:hover {
    color: #fff;
    background-color: var(--main-resaltar);
}
.card-large .header-card {
	border-bottom: 1px solid #c1c1c1;
	padding: 10px;
}

.card-large .header-card h2{
	font-weight: 400;
	font-size: 1.3rem;
}

.card-large .body-card {
	padding: 20px;
}

.card-large .body-card h3{
	font-size: 1.2rem;
	font-weight: 800
}

.card-large .body-card h3 span {
	color: var(--main-resaltar);
}

.card-large .body-card p {
	color: #7f7f7f;
}

.presentacion-body {
	/*overflow: hidden;*/
	max-height: 24rem
}

.presentacion-body .item_presentacion {
	opacity: 0;
	display: none;
}

.presentacion-body .item_presentacion video {
	max-height: 24rem;
	width: 100%;
}

.presentacion-body .item_presentacion img {
	max-height: 24rem;
	width: 100%;
}

.presentacion-body .active {
	opacity: 1;
	display: block;
	transition: opacity 5s;
}

//RESPONSIVE

.card-contact{
    min-height: 20rem
}
.card-contact:hover{
    border-bottom: 5px solid var(--main-resaltar);
}

.panel-title{
    padding: 15px;
    height: auto;
    text-align: center;
    display: inline-table;
}

.not-mobile{
    display: block;
}
.add-mobile{
    display: none;
}
.popup-redes{
    background-color: var(--main-resaltar) ;
    height: 200px;
    position: fixed;
    width: 40px;
    right: 0;
    top: 150px;
    border-radius: 20px 0px 0px 20px;
}
.p-fa{
    color: white;
    padding: 10px;
    margin-left: 6px;
    margin-top: 3px;
    cursor: pointer;
}
.listbox-carousel{
    padding: 15px;
}
.form-contact, .form-postula{
    padding: 30px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    margin:10px;
    border-bottom: 5px solid var(--main-resaltar);
}
.form-contact span, .form-postula span{
    color: #7f7f7f;
    font-size: 14px;
}
.form-contact b, .form-postula b{
    color :  var(--main-resaltar);
}
.add-none{
    display: none;
}
.form-control, .custom-file-input, .custom-file-label {
    background-color: #f7f7f7;
}
.form-control:focus, .custom-file-input:focus, .custom-file-label:focus{
    border-color: var(--main-resaltar);
    box-shadow: none;
}
.btn.focus, .btn:focus{
    border-color: var(--main-resaltar);
    box-shadow: none;
}
.close-panel{
    text-align: right;
    padding: 8px;
    font-size: 20px;
    cursor: pointer;
    color: var(--main-resaltar);
}
a:not([href]):not([tabindex]){
    color: #ffF;
}
.pnl-filter-search{
    position: absolute;
    z-index: 2;
    top: 50px;
    width: 400px;
    margin-left: 450px;
    cursor:pointer;
    max-height: 350px;
    overflow: auto;
}
.pnl-filter-search li:hover{
    background-color: #f7f7f7;
}
.pnl-filter-search li strong{
    font-size: 12px;
    color:var(--main-resaltar);
    float: right;
}
.pnl-filter-search li span{
    font-size: 13px;
    color:#7f7f7f;
}
.pnl-filter-search a:hover{
    text-decoration: none;
}
.a-card{
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}
.a-card:hover{
    color: #000000;
}
.lb-adjunto{
    float: right;
    top: 0px;
    position: absolute;
    right: 0;
    z-index: 2;
    height: 35px;
    border: 1px solid #ced4da;
    background-color: #7f7f7f;
    width: 80px;
    padding-top: 6px;
    padding-left: 10px;
    font-size: 14px;
    color: #fff;
}
.input-form-contact{
    font-size: 14px;
    color: #7f7f7f;
}

.form-control, .custom-file-input, .custom-file-label {
    background-color: #f7f7f7;
}
.form-control:focus, .custom-file-input:focus, .custom-file-label:focus{
    border-color: var(--color-btn-primari);
    box-shadow: none;
}
.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    margin-bottom: 0;
}
.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    margin: 0;
    opacity: 0;
}
.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-group {
    margin-bottom: 1rem;
}