.header-nos{

    h3{
        font-weight: 100 !important;
    }
    h1{
        font-size: 1.8rem !important;
    }
}

.content-equipo {
    .item{
        background-color: white;
        width: 27rem;
        .content-img{
            height: 16rem;
            overflow: hidden;
            text-align: center;
            img{
                height: 100%;
                width: auto;
                margin: auto;
            }
        }
        .content-texto{
            text-align: center;
            padding: 1rem;
            h5{
                font-weight: 100;
                color: #7f7f7f;
            }
        }
    }
}